
.inp_err_cont{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 10px;
}

.container{
    display:flex;
    flex-direction: row;
    
    height: 38px;
    /* width:200px; */
    font-size: 0.92em;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.error{
    border: solid 3px red;
}

.correct{
    border: solid 3px green;
}

.large_container{
    height: 80px;

}

.label{
    height: 100%;
    background-color: #0EBAC5;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 10px;
    color: white;
}

.label p {
    font-weight: 700;
}

input, textarea{
    height: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 500;
    font-size: 1.05em;
    width: 300px;
    padding: 0 10px;
    /* direction: ltr; */
    

}

input:focus, textarea:focus{
    outline: none;
}

textarea {
    width: 730px;
    padding: 3px 10px;
    resize: none;
}

.inp_err_cont > p{
    color: red;
    font-size: 0.85em;
}
