.login {
    width: 100%;
    height: calc(100vh - 2*(50px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    position: relative;

}

.login h5{
    margin-bottom: 30px;
    font-size: 1.4em;
    color: #0EBAC5;
}

.mybtn{
    margin-top: 30px;
}

.moreMargin{
    margin-bottom: 15px;;
}

.redircet{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-weight: 300;
}

.redircet a{
    color: #0EBAC5;
    cursor: pointer;
    
}

.redircet p{
    font-weight: 400;
}